@font-face { font-family: 'BMDOHYEON'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'NotoSerifKR'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'GyeonggiTitleM'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'NIXGONL-Vb'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONL-Vb.woff') format('woff'); font-weight: normal; font-style: normal; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

a:hover {
  border-bottom: none;
  text-decoration: none;
}

#fullpage{
}

.mx {
  font-size: 1em;
  position: relative;
  left: 100px;
  display : none;
}

@media screen and (min-width:1080px) {
  #fullpage {
    display: block;
  }
  .mx {
    display: none;
  }
}

nav {
  display : none;
  z-index: 10000;
  position: fixed;
  width: 100px;
  min-height: 100vh;
  background-color: white;
  border-right: 1px solid #b7c6cd;
}

nav .navImg img {
  width: 100%;
  position: relative;
  top: 40px;
}

nav .navBoard {
  font-family: 'NIXGONL-Vb';
  text-align: center;
  font-size: 3.5em;
  color: #616161;
  width: 100%;
  position: relative;
  top: 35vh;
  transition: all 0.4s ease-in-out 0.1s;
  -moz-transition: all 0.4s ease-in-out 0.1s;
  -ms-transition: all 0.4s ease-in-out 0.1s;
  -o-transition: all 0.4s ease-in-out 0.1s;
  -webkit-transition: all 0.4s ease-in-out 0.1s;
}

nav .navBoard:hover {
  cursor: pointer;
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -moz-transform: scale(0.8);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  top: 55vh;
  left: 30px;
}

nav ul li {
  margin-bottom: 30px;
}

nav a:hover {
  border-bottom: none;
}
nav ul img:hover {
  width: 60px;
}

@media screen and (min-width: 1080px) {
  nav {
    display: block;
  }
}




/* board 영역 */

.boardOpen {
  display:none;
}

.board {
  font-family: 'NIXGONL-Vb';
  z-index: 9000;
  width:50vw;
  position: fixed;
  min-height: 100vh;
}

@media screen and (min-width: 1080px) {
  .board {
    width: 90vw;
  }
}

@media screen and (min-width: 1600px) {
  .board {
    width: 70vw;
  }
}

@media screen and (min-width: 2400px) {
  .board {
    width: 50vw;
  }
}

.board-bg {
  min-height: 100vh;
  background-color: whitesmoke;
  border-right: 1px solid #b7c6cd;
}

.in-board {
  position: relative;
  left: 50px;
}

.board__title span {
  position: relative;
  left: 150px;
  top: 100px;
  font-size: 3em;
}

.board__board {
  position: relative;
  top: 150px;
  left: 170px;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

@media screen and (min-width:1440px) {
  .board__board {
    left: 220px;
  }
}

.board__board table td a:hover {
  color: #2980b9;
  text-decoration: none;
  border-bottom: none;
  cursor: pointer;
}

.board__board table {
  border: none;
  width: 70%;
  border: 3px solid #0D47A1;
  border-spacing: 0;
}

.board__board table th {
  color: white;
  border: none;
  background-color: #0D47A1;
}

.board__board table tr {
  height: 50px;
}

.board__board table td {
  border-bottom: 1px solid black;
}

.boardCntSpace a:hover, a:visited, a:active, a:link {
  border: none;
  cursor: pointer;
  color: black;
}

.board__view {
  position: relative;
  top: 150px;
  left: 80px;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

@media screen and (min-width: 1440px) {
  .board__view {
    left: 180px;
  }
}

.board_write_btn {
  position: relative;
  left: 50px;
  width: 120px;
  height: 50px;
  color: white;
  background-color: #0D47A1;
  border: 1px solid #0D47A1;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}

.board_write_btn:hover {
  transform: scale(1.1);
}


.board__view table {
  text-align: left;
}

.board__view table td {
  text-align: left;
  padding-left: 15px;
}

.board__write {
  position: relative;
  top: 150px;
  left: 80px;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

@media screen and (min-width: 1400px) {
  .board__write {
    left: 180px;
  }
}

.board__write table{
  border-spacing: none;
}

.write__action {
  position: relative;
  left: 90px;
  top:650px;
  font-size: 1em;
  color: #2980b9;
  font-family: 'NIXGONL-Vb';
  width: 100px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #2980b9;
}

.write__action:hover {
  animation: write__action 0.5s ease-in-out forwards;
  -webkit-animation: write__action 0.5s ease-in-out forwards;
  -moz-animation: write__action 0.5s ease-in-out forwards;
}

@keyframes write__action {
  0% {width: 100px}
  100% {width: 180px; background-color: #2980b9; color: white;}
}

@-webkit-keyframes write__action {
  0% {width: 100px}
  100% {width: 180px; background-color: #2980b9; color: white;}
}

@-moz-keyframes write__action {
  0% {width: 100px}
  100% {width: 180px; background-color: #2980b9; color: white;}
}

.write__cancel {
  position: relative;
  left: 90px;
  top:650px;
  font-size: 1em;
  color: #d35400;
  font-family: 'NIXGONL-Vb';
  width: 100px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #d35400;
}

.write__cancel:hover {
  animation: write__cancel 0.5s ease-in-out forwards;
  -webkit-animation: write__cancel 0.5s ease-in-out forwards;
  -moz-animation: write__cancel 0.5s ease-in-out forwards;
}

@keyframes write__cancel {
  0% {width: 100px}
  100% {width: 180px; background-color: #d35400; color: white;}
}

@-webkit-keyframes write__cancel {
  0% {width: 100px}
  100% {width: 180px; background-color: #d35400; color: white;}
}

@-moz-keyframes write__cancel {
  0% {width: 100px}
  100% {width: 180px; background-color: #d35400; color: white;}
}


.view__modify {
  position: relative;
  left: 90px;
  top:650px;
  font-size: 1em;
  color: #2980b9;
  font-family: 'NIXGONL-Vb';
  width: 100px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #2980b9;
}

.view__modify:hover {
  animation: view__modify 0.5s ease-in-out forwards;
  -webkit-animation: view__modify 0.5s ease-in-out forwards;
  -moz-animation: view__modify 0.5s ease-in-out forwards;
}

@keyframes view__modify {
  0% {width: 100px}
  100% {width: 180px; background-color: #2980b9; color: white;}
}

@-webkit-keyframes view__modify {
  0% {width: 100px}
  100% {width: 180px; background-color: #2980b9; color: white;}
}

@-moz-keyframes view__modify {
  0% {width: 100px}
  100% {width: 180px; background-color: #2980b9; color: white;}
}

.view__cancel {
  position: relative;
  left: 90px;
  top:650px;
  font-size: 1em;
  color: #d35400;
  font-family: 'NIXGONL-Vb';
  width: 100px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #d35400;
}

.view__cancel:hover {
  animation: view__cancel 0.5s ease-in-out forwards;
  -webkit-animation: view__cancel 0.5s ease-in-out forwards;
  -moz-animation: view__cancel 0.5s ease-in-out forwards;
}

@keyframes view__cancel {
  0% {width: 100px}
  100% {width: 180px; background-color: #d35400; color: white;}
}

@-webkit-keyframes view__cancel {
  0% {width: 100px}
  100% {width: 180px; background-color: #d35400; color: white;}
}

@-moz-keyframes view__cancel {
  0% {width: 100px}
  100% {width: 180px; background-color: #d35400; color: white;}
}

@media screen and (min-width: 1600px) {
  .write__action {
    left: 40px;
  }

  .view__modify {
    left: 40px;
  }

  .write__cancel {
    left: 50px;
  }

  .view__cancel {
    left: 50px;
  }
}

@media screen and (min-width: 2400px) {
  .write__action {
    left: -170px;
  }

  .view__modify {
    left: -170px;
  }

  .write__cancel {
    left: -160px;
  }

  .view__cancel {
    left: -160px;
  }
}





/* wrap 영역 */

.wrap {
  z-index: 100;
  background-color: #f6f6f6;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.19'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  min-height: 100vh;
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
}

.slider1 {
  display: inline-block;
  position: relative;
  max-height: 100vh;
  top: 5vh;
  left: 5vh;
  text-align: center;
  z-index: 1000;
}

.slider1 p {
  font-size: 2em;
  font-family: 'BMDOHYEON';
}

.slider1 span {
  font-family: 'GyeonggiTitleM';
  font-weight: 100;
  font-size: 1em;
  position: relative;
  top: -20px;
  left: -10px;
}

.slider1 button {
  cursor: pointer;
  border: 1px solid #607d8b;
  border-radius: 5px;
  background-color: transparent;
  color: #607d8b;
  width: 100px;
  height: 45px;
  position: relative;
  top: -40px;
}

.slider1 a:hover {
  text-decoration: none;
  border-bottom: none;
}

.slider1 button:hover {
  -webkit-animation: btnHover  0.5s ease-in-out alternate forwards;
  -moz-animation: btnHover 0.5s ease-in-out alternate forwards;
  animation: btnHover 0.5s ease-in-out alternate forwards;
}


.slider {
  display: block;
  position: relative;
  min-height: 60vh;
  left: 0px;
}

.slider__item {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  top: -400px;
  z-index: 0;
  opacity: 0;
  transition: all .5s ease-in-out;
  transform: scale(0.9);
}

.slider__item:first-child {
  background-image: url("../img/kabotZerg.png");
  background-repeat: no-repeat;
}
.slider__item:nth-child(2) {
  background-image: url("../img/provius2.png");
  background-repeat: no-repeat;
}

.slider__item:nth-child(3) {
  background-image: url("../img/dehaka2.png");
  background-repeat: no-repeat;
}

.slider__item:nth-child(4) {
  background-image: url("../img/ala.png");
  background-repeat: no-repeat;
}

.showing {
  z-index: 1;
  opacity: 1;
  transform: none;
}

@keyframes btnHover {
  from {background-color: transparent; color: #607d8b;}
  to {background-color: #607d8b; color: white;}
}

@-webkit-keyframes btnHover {
  from {background-color: transparent; color: #607d8b;}
  to {background-color: #607d8b; color: white;}
}

@-moz-keyframes btnHover {
  from {background-color: transparent; color: #607d8b;}
  to {background-color: #607d8b; color: white;}
}

.slider1 img {
  display: none;
}

@media screen and (min-width: 764px) {
  .slider1 p {
    font-size: 3em;
  }
  .slider1 span {
    font-size: 1em;
  }
}

@media screen and (min-width: 764px) {
  .slider {
    display: block;
  }
  .slider1{
    text-align: left;
    top: 30vh;
    left: 20vh;
  }
}

@media screen and (min-width: 1440px) {
  .slider1 p {
    font-size: 4.5em;
  }
  .slider1 span {
    font-size: 1.8em;
    top: -50px;
  }
  .slider1 button {
    top: -80px;
  }
  .slider {
    display: block;
  }
}

@media screen and (min-width: 1920px) {
  .slider {
    left: 0;
  }

}

@media screen and (min-width: 2400px) {

  .slider {
    width: 90%;
  }
  .slider__item {
    left: 100px;
    top: -400px;
  }
}


/* contents영역 */

.contents {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%234FE'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-size: cover;
}
.article {
  font-family: 'GyeonggiTitleM';
  display: inline-block;
  text-align: center;
  width: 100%;
  position: relative;
  top: 50px;
}
.show-on-scroll {
  opacity: 1;
}

.farti__high {
  font-size: 2em;
  border-bottom: 1px solid black;
}

.farti {
  position: relative;
  top: -50px;
  font-weight: 100;
  font-size: 4em;
}

.show-on-scroll span {
  position: relative;
  top:-50px;
}

.farti__low {
  font-size: 1.5em;
}

.contents__grid {
  display: none;
  width: 100vh;
  margin: 0 auto;
  grid-template-columns: minmax(300px, 300px);
  grid-auto-columns: minmax(300px, 300px);
  grid-template-rows: 55vh;
  grid-auto-rows: 55vh;
  grid-auto-flow: column;
  align-self: center;
  grid-gap: 100px;
}
.contents__item {
  cursor: pointer;
  border: 2px solid black;
  position: relative;
  overflow: hidden;
}

.item__in {
  border: 1px solid black;
  background-color: black;
  position: relative;
  top: 48vh;
}

.item__in p {
  font-size:1.5em;
  display: inline-block;
  position: relative;
  color: white;
}

.contents__item:first-child {
  background-image: url("../img/pg.png");
  background-size: cover;
  background-position: center;
  filter: brightness(40%);
}

.contents__item:first-child:hover {
  filter: brightness(100%);
  animation: upani 0.5s ease-in-out forwards;
  -webkit-animation: upani 0.5s ease-in-out forwards;
  -moz-animation: upani 0.5s ease-in-out forwards;
}

.contents__item:nth-child(2) {
  background-image: url("../img/kakaotalk.png");
  background-size: cover;
  background-position: center;
  filter: brightness(40%);
}

.contents__item:nth-child(2):hover {
  filter: brightness(100%);
  animation: upani 0.5s ease-in-out forwards;
  -webkit-animation: upani 0.5s ease-in-out forwards;
  -moz-animation: upani 0.5s ease-in-out forwards;
}

.contents__item:nth-child(3) {
  background-image: url("../img/discord.png");
  background-size: cover;
  background-position: center;
  filter: brightness(40%);
}

.contents__item:nth-child(3):hover {
  filter: brightness(100%);
  animation: upani 0.5s ease-in-out forwards;
  -webkit-animation: upani 0.5s ease-in-out forwards;
  -moz-animation: upani 0.5s ease-in-out forwards;
}


@keyframes upani {
  0% {top: 0px;}
  100% {top: -50px;}
}

@-webkit-keyframes upani {
  0% {top: 0px;}
  100% {top: -50px;}
}

@-moz-keyframes upani {
  0% {top: 0px;}
  100% {top: -50px;}
}


.shown {
  -webkit-animation: fadein 0.5s ease-in forwards;
  -moz-animation: fadein 0.5s ease-in forwards;
  animation: fadein 0.5s ease-in forwards;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@media screen and (min-width: 1440px) {
  .contents__grid {
    display: grid;
  }
}


/* information영역 */

.information {
  min-height: 100vh;
}

.blur5 {
  filter: blur(2px);
}

.infor__bg {
  z-index: 0;
  min-height: 100vh;
  background-image: url("../img/pg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(50%);
  text-align: center;
}

.infor {
  position: relative;
  opacity: 1;
}

.infor__text__high {
  font-family: 'GyeonggiTitleM';
  top: 20vh;
  position: relative;
  color: white;
  font-size: 2em;
  border-bottom: 1px solid whitesmoke;
}

.infor__text {
  font-family: 'GyeonggiTitleM';
  line-height: 90px;
  top: 25vh;
  position: relative;
  color: white;
  font-size: 4em;
}

.infor__text__low {
  font-family: 'GyeonggiTitleM';
  line-height: 25px;
  top: 30vh;
  position: relative;
  color: white;
  font-size: 1.5em;
}

.inforBtn {
  display: none;
  position: relative;
  top: 35vh;
  border: 1px solid white;
  width: 150px;
  background: transparent;
  color: white;
  height: 50px;
  font-size: 15px;
}

.inforBtn:hover {
  cursor: pointer;
  -webkit-animation: fillBtn 0.5s ease-in-out forwards;
  -moz-animation: fillBtn 0.5s ease-in-out forwards;
  animation: fillBtn 0.5s ease-in-out forwards;
}

@keyframes fillBtn {
  0% {width: 150px}
  100% {width: 250px; background-color: black; color: white;}
}

@-webkit-keyframes fillBtn {
  0% {width: 150px}
  100% {width: 250px; background-color: black; color: white;}
}

@-moz-keyframes fillBtn {
  0% {width: 150px}
  100% {width: 250px; background-color: black; color: white;}
}

@media screen and (min-width: 1440px) {
  .inforBtn {
    display: inline-block;
  }
}





/* join영역 */

.join {
  min-height: 100vh;
}

.join__bg {
  background-color: #330000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D18'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
  min-height: 100vh;
}

.join__slider {
  position: relative;
  min-height: 60vh;
  left: 0;
}

.join__slider__item {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  top: -400px;
  z-index: 0;
  opacity: 0;
  transition: all .5s ease-in-out;
  transform: scale(0.9);
}

.join__showing {
  z-index: 1;
  opacity: 1;
  transform: none;
}

.select__join {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  top: -100px;
  transition: all .5s ease-in-out;
  transform: scale(0.9);
  text-align: center;
}

.pros__text__high {
  font-family: 'BMDOHYEON';
  font-size: 2em;
  border-bottom: 1px solid white;
  position: relative;
  top: 50px;
}

.pros__text {
  font-family: 'BMDOHYEON';
  font-size: 4em;
  position: relative;
  top: 55px;
}

.select__container {
  margin: 0 auto;
  display: none;
}

.select__items {
  position: relative;
  top: 150px;
  display :inline-block;
  text-align: center;
}

@media screen and (min-width: 1080px) {
  .select__container {
    transform: scale(0.5);
    display: block;
  }
}



@media screen and (min-width: 1440px) {
  .select__container {
    transform: scale(1);
  }
  .select__items {
    margin-left: 100px;
  }
}


.select__items:hover {
  cursor: pointer;
  animation: upanddown 2s ease-in-out infinite;
  -webkit-animation: upanddown 2s ease-in-out infinite;
  -moz-animation: upanddown 2s ease-in-out infinite;
}

@keyframes upanddown {
  0% {top: 150px;}
  50% {top: 100px;}
  100% {top: 150px;}
}
@-webkit-keyframes upanddown {
  0% {top: 150px;}
  50% {top: 100px;}
  100% {top: 150px;}
}
@-moz-keyframes upanddown {
  0% {top: 150px;}
  50% {top: 100px;}
  100% {top: 150px;}
}

.select__items:first-child {
  left: -300px;
}

.select__items:nth-child(2) {
  left: 50px;
}

.opacity0 {
  position: relative;
  animation: o0 0.5s ease-in-out forwards;
  -webkit-animation: o0 0.5s ease-in-out forwards;
  -moz-animation: o0 0.5s ease-in-out forwards;
}

@keyframes o0 {
  from {opacity: 1; left: 0px; }
  to {opacity: 0; left: 30px; display: none; visibility: hidden;}
}

@-webkit-keyframes o0 {
  from {opacity: 1}
  to {opacity: 0; display: none; visibility: hidden;}
}

@-moz-keyframes o0 {
  from {opacity: 1}
  to {opacity: 0; display: none; visibility: hidden;}
}

.opacity1 {
  animation: o1 0.5s ease-in-out forwards;
  -webkit-animation: o1 0.5s ease-in-out forwards;
  -moz-animation: o1 0.5s ease-in-out forwards;
}

@keyframes o1 {
  0% {opacity: 0; visibility: hidden;}
  100% {opacity: 1; visibility: visible}
}

@-webkit-keyframes o1 {
  0% {opacity: 0; visibility: hidden;}
  100% {opacity: 1; visibility: visible}
}

@-moz-keyframes o1 {
  0% {opacity: 0; visibility: hidden;}
  100% {opacity: 1; visibility: visible}
}

.filterGrayScale {
  filter: grayscale(100%);
}

.dis__items {
  position: absolute;
  top: 250px;
  font-size: 1.5em;
  font-family: 'BMDOHYEON';
  font-weight: 100;
  display: none;
}


.join__dis a:link, a:hover, a:visited, a:active {
  text-decoration: none;
  color: #3f51b5;
  border-bottom: 3px solid #3f51b5;
}

.dis__unshow {
  display: none;
}

.aniUnShow {
  animation: aniUnShow 0.5s ease-in-out forwards;
  -webkit-animation: aniUnShow 0.5s ease-in-out forwards;
  -moz-animation: aniUnShow 0.5s ease-in-out forwards;
}

@keyframes aniUnShow {
  0% {opacity:1; left: 750px;}
  100% {opacity: 0; left: -1500px;}
}

@-webkit-keyframes aniUnShow {
  0% {opacity:1; left: 750px;}
  100% {opacity: 0; left: -1500px;}
}

@-moz-keyframes aniUnShow {
  0% {opacity:1; left: 750px;}
  100% {opacity: 0; left: -1500px;}
}

.aniShow {
  opacity: 0;
  left: 550px;
  display: block;
  animation: aniShow 0.5s ease-in-out 0.5s forwards;
  -webkit-animation: aniShow 0.5s ease-in-out 0.5s forwards;
  -moz-animation: aniShow 0.5s ease-in-out 0.5s forwards;
}

@keyframes aniShow {
  0% {opacity: 0;}
  100% {opacity: 1; display: block;}
}

@-webkit-keyframes aniShow {
  0% {opacity: 0}
  100% {opacity: 1}
}

@-moz-keyframes aniShow {
  0% {opacity: 0}
  100% {opacity: 1}
}

.dis__btn {
  width: 150px;
  height: 50px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.dis__btn:hover {
  animation: disBtnAni 0.5s ease-in-out alternate forwards;
  -webkit-animation: disBtnAni 0.5s ease-in-out alternate forwards;
  -moz-animation: disBtnAni 0.5s ease-in-out alternate forwards;
}

@keyframes disBtnAni {
  0% {width: 150px; background-color: transparent;}
  100% {width: 200px; background-color: white; color: black;}
}

@-webkit-keyframes disBtnAni {
  0% {width: 150px; background-color: transparent;}
  100% {width: 200px; background-color: white; color: black;}
}

@-moz-keyframes disBtnAni {
  0% {width: 150px; background-color: transparent;}
  100% {width: 200px; background-color: white; color: black;}
}


.dis__btn__reset {
  width: 150px;
  height: 50px;
  background-color: transparent;
  border: 1px solid #ffeb3b;
  color: #ffeb3b;
}

.dis__btn__reset:hover {
  animation: disRBtnAni 0.5s ease-in-out alternate forwards;
  -webkit-animation: disRBtnAni 0.5s ease-in-out alternate forwards;
  -moz-animation: disRBtnAni 0.5s ease-in-out alternate forwards;
}

@keyframes disRBtnAni {
  0% {width: 150px; background-color: transparent;}
  100% {width: 200px; background-color: #ffeb3b; color: black;}
}

@-webkit-keyframes disRBtnAni {
  0% {width: 150px; background-color: transparent;}
  100% {width: 200px; background-color: #ffeb3b; color: black;}
}

@-moz-keyframes disRBtnAni {
  0% {width: 150px; background-color: transparent;}
  100% {width: 200px; background-color: #ffeb3b; color: black;}
}

@media screen and (min-width: 2400px) {
  .aniShow {
    left: 750px;
  }
}


/* join_kakaotalk 영역 */

.join__ka {
  position: absolute;
  top: 300px;
  left: 500px;
  text-align: left;
  font-family: 'BMDOHYEON';
}

.join__ka a:link, a:visited, a:active, a:hover {
  color: #ffeb3b;
  text-decoration: none;
  border-bottom: 3px solid #ffeb3b;
}

.ka__items {
  display: none;
  opacity: 0;
}

.jk_span_high {
  top: -450px;
  left: 145px;
  font-size: 3em;
  position: relative;
}

.jk_span_low {
  top: -430px;
  left: 500px;
  font-size: 1.5em;
  position: relative;
}

.kaShow {
  display: block;
  animation: kaShow 0.5s ease-in-out forwards;
  -webkit-animation: kaShow 0.5s ease-in-out forwards;
  -moz-animation: kaShow 0.5s ease-in-out forwards;
}

@keyframes kaShow {
  0% {opacity: 0;}
  100% {opacity: 1; display: block;}
}

@-webkit-keyframes kaShow {
  0% {opacity: 0;}
  100% {opacity: 1; display: block;}
}

@-moz-keyframes kaShow {
  0% {opacity: 0;}
  100% {opacity: 1; display: block;}
}



/* ingame 영역 */

.join__ingame {
  font-family: 'BMDOHYEON';
}

.ingame__items {
  display: none;
  opacity: 0;
  position: absolute;
  top: 300px;
  left: 750px;
}

.ingame__items:nth-child(2) {
  position: absolute;
  top: 200px;
  left: 1000px;
}

.ingame__items:nth-child(4) {
  position: absolute;
  top: 250px;
  left: 730px;
}

.ingame__items:nth-child(5) {
  position: absolute;
  top: 230px;
  left: 780px;
}

.ingame__items:last-child {
  position: absolute;
  top: 230px;
  left: 900px;
}

.igShow {
  display: block;
  animation: igShow 0.5s ease-in-out 0.5s forwards;
  -webkit-animation: igShow 0.5s ease-in-out 0.5s forwards;
  -moz-animation: igShow 0.5s ease-in-out 0.5s forwards;
}

@keyframes igShow {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes igShow {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes igShow {
  0% {opacity:0;}
  100% {opacity:1;}
}

.igUnShow {
  opacity: 1;
  animation: igUnShow 0.5s ease-in-out forwards;
  -webkit-animation: igUnShow 0.5s ease-in-out forwards;
  -moz-animation: igUnShow 0.5s ease-in-out forwards;
}

@keyframes igUnShow {
  0% {opacity:1;}
  100% {opacity:0;}
}

@-webkit-keyframes igUnShow {
  0% {opacity:1;}
  100% {opacity:0;}
}

@-moz-keyframes igUnShow {
  0% {opacity:1;}
  100% {opacity:0;}
}


.back_to_first {
  position: absolute;
  top: 100px;
  left: -300px;
  width: 50px;
  height: 150px;
  border: none;
  vertical-align: bottom;
  background-color: transparent;
  color: white;
  font-size: 2em;
}

.back_to_first:hover {
  cursor: pointer;
}

.mobile_join_info {
  display: block;
  position: relative;
  top: 100px;
  font-size: 3em;
}

.displayNone {
  display: none;
}

.displayBlock {
  position: relative;
  top: 100px;
  font-size: 3em;
}

.mobile_join_info a:link, a:hover, a:active, a:visited {
  color: yellow;
  text-decoration: none;
  border-bottom: 2px solid yellow;
}

@media screen and (min-width: 1080px) {
  .mobile_join_info {
    display: none;
  }
}
